#title_solution_form {
    margin: 20px;
}

#body {
    margin: 30px 0;
}

form {
    padding: 0 15px;
}

mat-icon[matSuffix] {
    cursor: pointer;
}

input#exercise {
    cursor: pointer;
}

#buttons {
    margin: 20px;
}